React Cod3r/first-app/node_modules/
React Cod3r/React-Limpo
React Cod3r/Calculadora/node_modules/
React Cod3r/TodoFront/node_modules/
React Cod3r/ToDoApp(back-end)/node_modules/
React Cod3r/TodoFront-Redux/node_modules/
React Cod3r/my-money-app/backend/node_modules/
React Cod3r/my-money-app/frontend/node_modules/

*.log